<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Incident</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<img src="" th:>
<p th:text="'Lat: ' + ${lat} + ', Long: ' + ${long}'"/>
</body>
</html>